.font-normal {
  font-size: $text-normal;
}

.font-header {
  font-size: $text-header;
}

.font-header-large {
  font-size: $text-header-large;
  font-weight: 500;
}

.font-small {
  font-size: $text-small;
}

.font-subtitle-1 {
  font-size: $text-subtitle-1;
}

.font-subtitle-2 {
  font-size: $text-subtitle-2;
}

.font-bold {
  font-weight: bold;
}
