html {
  font-size: 12px;

  @include gt-sm {
    font-size: 16px;
  }

  @include gt-lg {
    font-size: 18px;
  }
}

body {
  font-family: Montserrat, sans-serif;

  padding: 0 2rem;

  @include gt-sm {
    padding: 0 3rem;
  }

  @include gt-lg {
    // font-size: 24px;
    padding: 0 4rem;
  }
}
