// colors
$primary-color: #066AFF;
$primary-800-color: #0046AE;
$primary-700-color: #001E4C;
$primary-600-color: #7BB0FF;
$primary-400-color: #CBD2E0;
$primary-300-color: #E2E7F0;
$primary-200-color: #EDF0F7;
$primary-100-color: #F7F9FC;
$contrast-color: #AA60FF;
$white-color: #FFFFFF;


// texts
$text-header-large: 56px;
$text-header: 32px;
$text-normal: 18px;
$text-small: 16px;
$text-subtitle-1: 24px;
